<h1>Editing Commodity</h1>

<%= render 'form', commodity: @commodity %>

<%= link_to 'Show', @commodity, :class => "btn btn-info"%>
<%= link_to 'Back', commodities_path, :class => "btn btn-warning"%>
