<p>
    The transaction process is underway.
</p>
<p>
    Thankyou for shopping with us.
</p>
<p>
    Hope you had a wonderful experience.
</p>

<p>
    <img src="https://www.conversational.com/wp-content/uploads/2016/11/thankyou.jpg" alt="Thankyou">
</p>
<%= link_to 'Back', commodities_path, :class =>"btn btn-warning"%>